<ul>
    <li>
        <img src="../../assets/images/taco.png" class="product-image" />
        <p class="product-description">
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </span>
        </p>
        <mat-icon class="add-to-basket">add_shopping_cart</mat-icon>
    </li>
    <li>
        <img src="../../assets/images/food.png" class="product-image" />
        <p class="product-description">
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </span>
        </p>
        <mat-icon class="add-to-basket">add_shopping_cart</mat-icon>
    </li>
    <li>
        <img src="../../assets/images/salad.png" class="product-image" />
        <p class="product-description">
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </span>
        </p>
        <mat-icon class="add-to-basket">add_shopping_cart</mat-icon>
    </li>
</ul>