<div class="product-list">
    <mat-card [routerLink]="'/product'" class="product-card">
        <mat-card-header>
            <mat-card-title>Product Title</mat-card-title>
        </mat-card-header>

        <app-product-image mat-card-image class="product-image" [imageUrl]="'../../assets/images/taco.png'" />

        <mat-card-content>
            <app-product-description />
        </mat-card-content>

        <mat-card-actions>
            <app-add-to-basket />
        </mat-card-actions>
    </mat-card>

    <mat-card [routerLink]="'/product'" class="product-card">
        <mat-card-header>
            <mat-card-title>Product Title</mat-card-title>
        </mat-card-header>

        <app-product-image mat-card-image class="product-image" [imageUrl]="'../../assets/images/food.png'" />

        <mat-card-content>
            <app-product-description />
        </mat-card-content>

        <mat-card-actions>
            <app-add-to-basket />
        </mat-card-actions>
    </mat-card>

    <mat-card [routerLink]="'/product'" class="product-card">
        <mat-card-header>
            <mat-card-title>Product Title</mat-card-title>
        </mat-card-header>

        <app-product-image mat-card-image class="product-image" [imageUrl]="'../../assets/images/salad.png'" />

        <mat-card-content>
            <app-product-description />
        </mat-card-content>

        <mat-card-actions>
            <app-add-to-basket />
        </mat-card-actions>
    </mat-card>
</div>