<ul>
    <li [routerLink]="'/product'">
        <app-product-image class="product-image" />
        <div class="product-description">
            <app-product-description />
        </div>
        <app-add-to-basket />
    </li>
    <li [routerLink]="'/product'">
        <app-product-image class="product-image" />
        <div class="product-description">
            <app-product-description />
        </div>
        <app-add-to-basket />
    </li>
    <li [routerLink]="'/product'">
        <app-product-image class="product-image" />
        <div class="product-description">
            <app-product-description />
        </div>
        <app-add-to-basket />
    </li>
</ul>