.product-list {
    margin: 0 50px;
}

.product-card:not(:last-child) {
    margin-bottom: 20px;
}

.product-title {
    flex: 1;
    margin: auto;
    text-align: center;
}

.product-image {
    height: 250px;
    margin: auto;
}

app-add-to-basket {
    height: fit-content;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
}

.card__cover {
    height: 10rem;
    width: 100%;
    display: flex;
    padding: 5px;
}

.card__content {
    /* Take available height */
    flex: 1;
}